@import '~styles/config';
@import '~styles/variables';
@import '~styles/animations';

.navigation {

}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  color: $color-font;
  transition: all 0.2s;
  text-decoration: none;
  padding-top: 0.5rem;
  margin-top: 0.5rem;

  &:hover {
    opacity: 1;
  }

  &__icon {
    fill: red;
  }

  &__title {
    margin-top: 5px;
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    visibility: hidden;
  }

  &.active {
    opacity: 1;
    animation: pulsing 3s infinite;
  }

  &.active &__icon {
    transform: scale(1.3);
  }

  &:hover &__title, &.active &__title {
    visibility: visible;
  }
}
