@import '~styles/config';

.link {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;

  text-decoration: none;

  color: $color-font;
  opacity: 0.5;

  transition: 200ms opacity ease-in-out;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover {
    opacity: 1;
  }

  &__icon {
    position: relative;

    margin-bottom: 8px;

    path { // stylelint-disable-line
      fill: #404040;
    }

    @media (min-width: $min-768) {
      top: 3px;
    }
  }
}
