@import "~styles/animations.scss";
@import "~styles/variables.scss";

.social-link {
  transition: all .1s;
  opacity: 0.5;

  & > path {
    width: 100%;
    fill: $color-font;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  
}
