@import '~styles/config';
@import '~styles/variables';
@import "~styles/animations";

:global {
  @import '~styles/base';
}

.layout {
  display: block;
  margin-left: $sidebar-width;

  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  height: 100vh;
  width: $sidebar-width;
  background-color: #23272B;

  padding: 1.5rem 0.5rem;
}
