@import '~styles/config';
@import '~styles/variables';

:global {
  @import '~styles/base';
}

.layout {
  display: block;
  min-height: 100vh;
}

.content {
  position: relative;
  display: block;
  padding-left: $sidebar-width;
  z-index: 100;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  height: 100vh;
  width: $sidebar-width;
  background-color: #1E2125;

  padding: 1.5rem 0.5rem;
}
